*,
::after,
::before {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
body {
  overflow-x: hidden;
  background-color: whitesmoke;
}
img {
  display: block;
  height: auto;
  width: 100%;
}
